<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caihongjia.mapper.ProductMapper">
    <update id="updateProduct">
        update product
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="image!=null and image!=''">
                image = #{image},
            </if>
            <if test="categoryId!=null and categoryId!=''">
                category_id = #{categoryId},
            </if>
            <if test="price!=null and price!=''">
                price = #{price},
            </if>
            <if test="quantity!=null and quantity!=''">
                quantity = #{quantity},
            </if>
            <if test="status!=null and status!=''">
                status = #{status},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <delete id="deleteProduct">
        delete from product where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <select id="getProduct" resultType="com.caihongjia.pojo.vo.ProductVO">
        select * from product
        <where>
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="name!=null and name!=''">
                AND name like concat('%',#{name},'%') AND status = 1
            </if>
            <if test="categoryId!=null and categoryId!=''">
                AND category_id = #{categoryId} AND status = 1
            </if>
            <if test="(userId==null or userId=='') and (name==null or name=='') and  (categoryId==null or categoryId=='')">
                AND status = 1
            </if>
        </where>
        limit #{index},#{pageSize}
    </select>

    <select id="getProductCount" resultType="integer">
        select count(*) from product
        <where>
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="name!=null and name!=''">
                AND name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null and categoryId!=''">
                AND category_id = #{categoryId}
            </if>
        </where>
    </select>
    <select id="sortByPrice" resultType="com.caihongjia.pojo.vo.ProductVO">
        <if test="sort==2 ">
            select * from product
            <where>
                status = 1
                <if test="categoryId!=null and categoryId!=''">
                    AND category_id=#{categoryId}
                </if>
            </where>
            ORDER BY price DESC limit #{index},#{pageSize}
        </if>
        <if test="sort==1">
            select * from product
            <where>
                status = 1
                <if test="categoryId!=null and categoryId!=''">
                    AND category_id=#{categoryId}
                </if>
            </where>
            ORDER BY price ASC limit #{index},#{pageSize}
        </if>
    </select>
</mapper>